body {
    background-color: #8a9a5b;
    font-family: Garamond, serif;
}
#hoved {
    width: 60%;
    margin: 50px auto;
    padding: 40px;
    background-color: White;
    border: 1px solid #8a9a5b;
}
h1, h2 {
    font-family: Helvetica, sans-serif;