body {
    background-color: #d6b75a;
    font-family: Garamond, serif;
}
h1, h2 {
    font-family: Helvetica, sans-serif;
}
div {
    width: 60%;
    background-color: white;
    border: 1px solid #d6b75a;
    margin: 20px auto;
    padding: 20px 40px;
}